#!/usr/bin/make -f

MAJOR_VER := 6

include /usr/share/dpkg/pkg-info.mk

%:
	dh $@

override_dh_shlibdeps:
	true

override_dh_auto_configure:
	./autogen.sh
	export LD_LIBRARY_PATH=/opt/greenplum-db-$(MAJOR_VER)/lib
	dh_auto_configure -- \
	--prefix=/opt/greenplum-db-$(MAJOR_VER) \
	--with-pgconfig=/opt/greenplum-db-$(MAJOR_VER)/bin/pg_config \
	--with-raster \
	--without-topology

override_dh_auto_test:
	echo "Skipping auto test"

override_dh_auto_clean:
	./autogen.sh
