Source: cloudberry-pxf
Section: database
Maintainer: <opengpdb@yandex-team.ru>
Build-Depends: debhelper (>=9),
    ca-certificates-java,
    ca-certificates,
    gcc-11,
    g++-11,
    g++-11-multilib,
    libcurl4-gnutls-dev,
    make,
    openjdk-11-jdk-headless,
    openjdk-11-jre-headless

Package: cloudberry-pxf
Architecture: amd64
Depends: ca-certificates-java,
  openjdk-11-jre-headless,
  apache-cloudberry-db-incubating,
  curl,
  libcurl3-gnutls,
  libcurl4
Description: Cloudberry PXF 6 OSS
  The Cloudberry Platform Extension Framework (PXF) provides parallel, high
  throughput data access and federated queries across heterogeneous data
  sources via built-in connectors that map a Cloudberry Database external
  table definition to an external data source. This Cloudberry Database
  extension is based on PXF from Apache HAWQ (incubating).
